<!-- <div class="container-fluid pt-4 px-4"> -->
    <div class="h-100 bg-light rounded p-4 ">
        <div class="d-flex align-items-center justify-content-between mb-2">
            <h6 class="mb-0">Conversas</h6>
            <a href="">Criar Nova</a>
        </div>
        
        <% conversas.forEach( (conversa) => { %>
        <a href="/mensagens/0">
            <div class="d-flex align-items-center border-bottom py-3">
                
                <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                <div class="w-100 ms-3">
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-0"><%= conversa.cliente %></h6>
                        <small><%= conversa.data %></small>
                    </div>
                    <span><%= conversa.ultima_mensagem %></span>
                </div>
            </div>
        </a>
        <% } ); %>

    </div>
<!-- </div> -->