<div class="row g-4">
    <div class="col-sm-12 col-md-6 col-xl-4">
        <%- include('./../components/calendary.ejs') %>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4">
        <%- include('./../components/to-do-list.ejs') %>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4">
        
    </div>
</div>


