<!-- Separator Start 
<div class="container-fluid pt-4 px-4"> -->
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <%- include('./../components/list-testemunial.ejs') %>
        </div>
        <div class="col-sm-12 col-xl-6">
            <%- include('./../components/map.ejs') %>
        </div>
    </div>
<!-- </div>
Separator End -->

